.textColor {
    color: rgba(178,72,37,1);

}

.navColor {
    background: rgba(255,133,93,1);
}

.bodyColor {
    background:rgba(255, 188, 165, 1);
}

.otherColor1 {
    color: rgba(115, 255, 222, 1)
}

.otherColor2 {
    color: rgba(133, 178, 168, 1)
}